.header {
	font-family: Arial;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container {
	height: 200px;
	background-color: white;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.indi {
	width: 5%;
	height: 5%;
	background-color: #4B4B4B;
	margin: 0px;
	float: left;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

#count {
	width: 50px;
}